html {
   height: 100%;
}

body {
   min-height: 100%;
   margin: 0;
   padding: 0;
   background-image: url("../img/background.png");
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: 100% 220px;
   background-attachment: fixed;
}

#logo {
   vertical-align: middle;
}

footer{
   text-align: center;
   color: darkgrey;
   clear : both;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
}

.body {
   margin-top: 1% !important;
   margin-left: 2% !important;
   margin-right: 2% !important;
}

#textcenter {
   text-align: center;
}

#buttoncenter {
   display: block;
   width: fit-content;
   margin: auto;
}

#tableparticipants {
   width: 50%;
   margin: auto;
}

table tr {
   height: 5px;
}

#scroll {
   overflow-y:scroll;
}

.filtre {
   margin-top: 1em;
}

.check {
   margin-left: 1em !important;
}

.padd {
   padding-right: 2px;
}

.bouton {
   width: 10em;
   height: 6em;
   margin-top: 2em;
}

#actions {
   display: flex;
}

#boutonsActions {
   margin-left: 2px;
   margin-right: 2px;
   /*width: 1.9em;*/
   /*height: 1.9em;*/
}

.nom {

   margin-top: 20px;
}

.btn {
   position: center;
}

#btn-mod-profil{
   margin-bottom: 1em;
}

