{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Modifier sortie{% endblock %}

{% block body %}
    <br>
    <h3 id="textcenter">Modifier la sortie</h3>
    <br>
    <div class="row">
        <div class="col-8 offset-2">
            {{ form_start(form) }}
            {{ form_widget(form) }}<button type="submit">Modifier</button>
            {{ form_end(form) }}
        </div>

    </div>
    <a class="btn btn-primary" href="{{ path('sortie_list') }}">Annuler</a>

{% endblock %}