{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Modifier sortie{% endblock %}

{% block body %}
    <br>
    <h3 id="textcenter">Modifier la sortie</h3>
    <br>
    <div class="row">
        <div class="col-8 offset-2">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div  class="center-div">
            <button id="btn-soumission-profil" class="btn btn-outline-dark" type="submit">Modifier</button>
            <a class="btn btn-outline-dark" href="{{ path('sortie_list') }}">Annuler</a>
            </div>
            {{ form_end(form) }}
        </div>

    </div>


{% endblock %}