{% extends 'base.html.twig' %}
{% form_theme userUpdateForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block body %}
    <br>
    <h3 id="textcenter">Modifier mon profil</h3>
    <br>
<div class="row">

    <div class="col-8 offset-2">
    {{ form_start(userUpdateForm) }}
    {{ form_widget(userUpdateForm) }}
        <div class="center-div">
            <button id="btn-soumission-profil" class="btn btn-outline-dark btn-soumission" type="submit">Enregistrer</button>
            <a class="btn btn-outline-dark btn-soumission" href="{{ path('sortie_list') }}">Annuler</a>
        </div>
    {{ form_end(userUpdateForm) }}



    </div>

</div>

{% endblock %}
